{% extends "base.html" %}
{% load static %}
{% block 'body' %}
  <div class="bg-[#040e1b] min-h-screen">
    <div class="max-w-5xl mx-auto py-8">
      <form action="{% url 'agendar_reuniao' %}" method="POST">{% csrf_token %}
        <h2 class="mt-4 text-2xl/9 font-bold tracking-tight text-gray-100">Agende sua reunião</h2>
        <label for="email" class="block mt-4 text-sm/6 font-medium text-gray-200">Horário</label>
        {{form.data}}
        <label for="email" class="block mt-4 text-sm/6 font-medium text-gray-200">Tag</label>
        {{form.tag}}
        <label for="email" class="block mt-4 text-sm/6 font-medium text-gray-200">Descrição</label>
        {{form.descricao}}
        <button type="submit" class="flex mt-4 w-full justify-center cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Agendar</button>
      </form>   
    </div>
  </div>

  
{% endblock 'body' %}